[Unit]
Description=SlipStream Orchestrator Executor
After=syslog.target

[Service]
EnvironmentFile=-/etc/default/slipstream-orchestrator
ExecStart=/opt/slipstream/client/sbin/slipstream-orchestrator ${DAEMON_ARGS} start
ExecStop=/opt/slipstream/client/sbin/slipstream-orchestrator stop
Type=forking
PIDFile=/var/run/slipstream-orchestrator.pid

[Install]
WantedBy=multi-user.target
