[Unit]
Description=SlipStream Node Executor
After=syslog.target network-online.target

[Service]
EnvironmentFile=-/etc/default/slipstream-node
ExecStart=/opt/slipstream/client/sbin/slipstream-node ${DAEMON_ARGS} start
ExecStop=/opt/slipstream/client/sbin/slipstream-node stop
PIDFile=/var/run/slipstream-node.pid

[Install]
WantedBy=multi-user.target
